@media (max-width: 1320px) {
  html {
    font-size: 9px;
  }
}
@media (max-width: 1194px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 1070px) {
  html {
    font-size: 7px;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 8px;
  }
  
  /** header */

  .header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background: black;
  }
  .burger {
    display: block;
    position: relative;
    z-index: 2;
  }
  .nav {
    display: none;
  }
  .nav.active {
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* background-color: #2a313c; */
    background: rgba(0, 0, 0, 0.97);
    z-index: 1;
  }
  .nav.active .nav-list {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-row: 2;

    height: 100%;
    align-items: center;
    justify-items: center;
  }
  .nav.active .nav-link {
    font-size: 3rem;
  }

  /** generation */

  .generation {
    background: black;
    padding: 30rem 0 14rem;
  }
  .generation-content {
    grid-template-columns: 1fr;
    row-gap: 20rem;
  }
  .generation-right {
  /*   max-width: 65rem;
    justify-self: center; */
    display: none;
  }

  /** sponsors */

  .sponsors-header {
    text-align: start;
    margin: 0;
  }
  .sponsors-block {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
  }
  .sponsors-link {
    width: 15.3rem;
  }

  /** shop */

  .shop-header {
    text-align: start;
    margin: 0;
  }
  .shop-future {
    justify-content: start;
  }
  .shop-cards {
    grid-template-columns: 1fr;
  }
  .shop-card {
    max-width: 88rem;
    margin: 0;
  }

  /** era */

  .era-content {
    grid-template-columns: 1fr;
    row-gap: 9rem;
  }
  .era-left {
    max-width: 78rem;
  }

  /** custom */

  .custom-content {
    grid-template-columns: 1fr;
  }
  .custom-left {
    display: none;
  }
  .custom-right {
    width: 100%;
    padding: 14rem 0;
  }
  .custom-chapter {
    width: 56.6rem;
  }
  .custom-buttons {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 0;
  }

  /** mode */

  .mode-text {
    font-size: 3.8rem;
  }

  /** news */

  .news-top {
    align-items: flex-start;
    flex-direction: column;
    row-gap: 5.3rem;
  }
  .news-cards {
    grid-template-columns: 4fr 2fr;
    column-gap: 0;
    row-gap: 12rem;
    margin-top: 10rem;
  }
  .news-right {
    grid-column: 1;
  }

  /** join */

  .join-content {
    width: 75rem;
    text-align: start;
  }
  .join-form {
    text-align: center;
  }

  /** footer */

  .footer-content {
    display: grid;
    grid-template-columns: 1fr auto 3fr;
    row-gap: 8rem;
  }
  .footer-content > div {
    grid-column: 2;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 6px;
  }
  .wrapper {
    padding: 0 3rem;
  }
  .font-chapter {
    font-size: 5.4rem;
    line-height: 6.4rem;
  }

  /** header */

  .header {
    padding: 2rem 3rem;
  }

  /** generation */

  .generation-social {
    top: -8rem;
    left: 0rem;
    transform: rotate(0deg);
  }
  .generation-left {
    max-width: 51rem;
  }

  /** custom */

  .custom-btn {
    width: 100%;
  }

  /** mode */
  /*  .mode {
    background: url("../img/mode/world.jpg") center / cover no-repeat;
    padding: 16rem 0;
  }
  .mode-content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    row-gap: 4rem;
  }
  .mode-card {
    width: 40rem;
    box-shadow: 1px 1px 8px rgb(0 0 0 / 30%);
  } */

  /** news */

  .news-cards {
    grid-template-columns: 4fr 1fr;
  }
}
@media (max-width: 492px) {
  .wrapper {
    padding: 0 1.5rem;
  }

  /** header */

  .header {
    padding: 2rem 1.5rem;
  }
  /** generation */

  .weblow {
    right: 0;
    bottom: -16rem;
  }

  /** shop */

  .shop-future {
    justify-content: flex-start;
  }
  .shop-card {
    width: 100%;
  }

  /** era */

  .era-left {
    width: 100%;
  }

  /** custom */

  .custom-chapter {
    width: 100%;
  }

  /** mode */

  .mode {
    background: url("../img/mode/world.jpg") center / cover no-repeat;
    padding: 16rem 0;
  }
  .mode-content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    row-gap: 10rem;
  }
  .mode-card {
    width: 40rem;
    box-shadow: 1px 1px 8px rgb(0 0 0 / 30%);
  }

  /** news */

  .news-cards {
    grid-template-columns: 1fr 0fr;
  }

  /** join */

  .join-content {
    width: 100%;
    padding: 0 1rem;
  }
  .input-field {
    margin-bottom: 3rem;
  }
}
@media (max-width: 345px) {
  .font-chapter {
    font-size: 4.9rem;
    line-height: 6.4rem;
  }

  /** header */

  .logo {
    width: 100%;
  }
  .logo-infinizai {
    display: none;
  }
  .logo::before {
    display: none;
  }

  /** custom */

  .custom-buttons {
    flex-direction: column;
    row-gap: 2rem;
    margin-top: 10rem;
  }
  .custom-btn {
    width: 70%;
  }
}
