@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Roboto&display=swap");

html {
  font-size: 10px;
  font-family: "Orbitron", sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);     /* убирает синий фон при клике*/

  --white: #fff;
  --blue: #57b8ff;
}
body.no-scroll {
  overflow: hidden;                     /* запрещает покрутку при открыттом бургер меню */
}
button {
  font-family: "Orbitron", sans-serif;
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}
button:active {
  transform: translateY(2px);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
span {
  display: block;
}
hr {
  height: 1px;
  background: #3e3e3e;
  border: none;
  margin: 4.7rem 0;
}

/* #region Common */

.main {
  max-width: 1440px;
  box-sizing: border-box;
  margin: 0 auto;
}
.wrapper {
  box-sizing: border-box;
  padding: 0 6rem;
}
.blue-btn {
  background: var(--blue);
  padding: 2.1rem 3.4rem;
}
.future {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6rem;
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
  text-transform: uppercase;
  color: var(--blue);
}
.future-fire {
  width: 3.2rem;
}

/* fonts */

.font-title {
  font-weight: 400;
  font-size: 7.2rem;
  line-height: 8.6rem;
  text-transform: capitalize;
  color: var(--white);
}
.font-chapter {
  font-weight: 400;
  font-size: 6.4rem;
  line-height: 7.4rem;
  text-transform: capitalize;
  color: var(--white);
  margin: 1.2rem 0 0;
}
.font-item {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: var(--white);
  margin: 0;
}
.font-shop-title {
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 4.2rem;
  text-transform: capitalize;
  color: var(--white);
  margin: 0 0 2rem 0;
}
.font-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 3.8rem;
  color: #999999;
}

/* #endregion */

/* #region Header */

.header {
  max-width: 1440px;
  box-sizing: border-box;
  padding: 2rem 6rem;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 56%,
    rgba(87, 184, 255, 1) 56%
  );
}

/* nav */

.header-nav {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  column-gap: 3rem;
}
.burger {
  display: none;
  width: 5rem;
  height: 5rem;
}
.burger:active {
  transform: translate(0);
}
.logo,
.flogo {
  position: relative;
  width: 16.3rem;
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
}
.logo::before,
.flogo::before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 1rem;
  width: 0.5rem;
  height: 0.5rem;
  background: url('../img/logo/dot.svg') 0 0 / 0.5rem no-repeat;
}
.logo-img,
.flogo-img {
  width: 4.4rem;
}
.logo-infinizai,
.flogo-infinizai {
  width: 10.3rem;
}
/* .logo-dot,
.flogo-dot {
  position: absolute;
  width: 0.5rem;
  right: 0;
  bottom: 1rem;
} */
.nav-list {
  display: flex;
  justify-content: center;
  column-gap: 6rem;
}
.nav-link {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--white);
}
.nav-link:hover {
  color: #fac422;
}
.header-contact {
  display: flex;
  align-items: center;
  column-gap: 4rem;
}
.header__cart {
  position: relative;
  width: 3.2rem;
  background: transparent;
}
.quantity {
  position: absolute;
  top: -0.5rem;
  right: -1rem;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  line-height: 2rem;
  text-align: center;
  border-radius: 50%;
  color: var(--white);
  background: tomato;
}
.header-contact-btn {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
  color: var(--white);
  padding: 1.6rem 3rem;
  border: 1px solid var(--white);
}

/* #endregion */

/* #region Generation */

.generation {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 56%,
    rgba(87, 184, 255, 1) 56%
  );
  box-sizing: border-box;
  padding: 20rem 0 25rem 0;
}
.generation-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* social */

.generation-social {
  position: absolute;
  top: 20rem;
  left: -18rem;
  transform: rotate(-90deg);
}
.generation-social-list {
  display: flex;
  column-gap: 5rem;
}
.generation-social-link {
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 2.5rem;
  text-transform: uppercase;
  color: #80858f;
}

/* left */

.generation-left {
  position: relative;
  max-width: 61rem;
}
.generation-underline {
  position: relative;
  display: inline;
}
.generation-underline::after {
  content: "";
  width: 100%;
  height: 1.6rem;
  position: absolute;
  bottom: -1rem;
  left: 0;
  background: url("../img/header/underline.svg") center / cover no-repeat;
}
.generation-item {
  color: #999999;
  margin: 4.5rem 0 0 0;
}
.generation-left-btn {
  display: flex;
  padding-top: 5rem;
  column-gap: 2rem;
}
.generation-btn-team {
  background: transparent;
}

/* right */

.generation-right {
  position: relative;
}
.weblow {
  position: absolute;
  width: 13.5rem;
  right: -5rem;
  bottom: 2.6rem;
}

/* #endregion */

/* #region Sponsors */

.sponsors {
  background: #fdd04a;
  text-align: center;
  padding: 12.8rem 0;
}
.sponsors-header {
  max-width: 62rem;
  margin: 0 auto;
}
.sponsors-block {
  display: flex;
  justify-content: space-between;
}
.sponsors-chapter {
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 5.8rem;
  text-transform: capitalize;
  color: #222730;
  margin: 0 0 4.4rem;
}
.sponsors-underline {
  position: relative;
  display: inline;
}
.sponsors-underline::after {
  content: "";
  width: 100%;
  height: 1.1rem;
  position: absolute;
  bottom: -1.6rem;
  left: 0;
  background: url("../img/sponsors/underline.svg") center / cover no-repeat;
}
.sponsors-item {
  color: #555555;
  margin: 0 0 4.1rem;
}
.sponsors-link {
  width: 19.3rem;
  display: inline-block;
}

/* #endregion */

/* #region Shop */

.shop {
  background: url("../img/shop-back.png") center / cover no-repeat;
  text-align: center;
  box-sizing: border-box;
  padding: 13.6rem 0 13rem;
}
.shop-header {
  max-width: 72rem;
  margin: 0 auto;
}
.shop-future {
  justify-content: center;
}
.shop-item {
  margin: 4rem 0 0;
}
.shop-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3.2rem;
  margin-top: 6.3rem;
}
.shop-card {
  position: relative;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  text-align: left;
  box-sizing: border-box;
  padding: 3.5rem 3.5rem 3.5rem 8rem;
  margin: 0 auto;
}
.shop-card-img {
  position: absolute;
  top: 3.5rem;
  left: 3.5rem;
  width: 2.9rem;
}

/* #endregion */

/* #region Era */

.era {
  background: black;
  box-sizing: border-box;
  padding: 13rem 0;
}
.era-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.era-left {
  box-sizing: border-box;
  padding-top: 4.4rem;
  padding-bottom: 3.8rem;
}
.era-item {
  margin-top: 3.8rem;
  margin-bottom: 5.4rem;
}
.era-right {
  width: 100%;
  height: 55rem;
  display: flex;
  justify-content: center;
  background: url("../img/era/era-back.png") center / cover no-repeat;
}
.era-btn {
  width: 12.9rem;
}

/* #endregion */

/* #region Custom */

.custom {
  background: #2a313c;
}
.custom-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}
.custom-left {
  width: 59.6rem;
}
.custom-right {
  box-sizing: border-box;
  padding: 7rem 0;
}
.custom-buttons {
  display: flex;
  justify-content: space-between;
}
.custom-btn {
  /* width: 19.6rem; */
  background: transparent;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 1.1rem;
}
.custom-btn:hover {
  background: #222730;
}

/* #endregion */

/* #region Mode */

.mode {
  background: #2a313c;
}
.mode-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.mode-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mode-card:hover {
  transform: scale(0.98);
  z-index: 1;
}
.mode-block {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3rem;
}
.mode-icon {
  width: 12.8rem;
}
.mode-text {
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 5.8rem;
  text-transform: capitalize;
  color: var(--white);
}

/* #endregion */

/* #region New */

.news {
  background: black;
}
.news-content {
  box-sizing: border-box;
  padding: 13.6rem 0 13rem;
}
.news-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.news-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2.4rem;
  margin-top: 6.4rem;
}
.data,
.data-right {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: var(--blue);
  margin-top: 5.4rem;
}
.news-left-title {
  font-weight: 400;
  font-size: 3.6rem;
  line-height: 4.6rem;
  text-transform: capitalize;
  color: var(--white);
  margin: 2.8rem 0 0 0;
}
.news-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2.4rem;
  row-gap: 4rem;
}
.data-right {
  margin-top: 3rem;
}
.news-card-title {
  font-weight: 400;
  font-size: 2.3rem;
  line-height: 3.4rem;
  text-transform: capitalize;
  color: var(--white);
  margin-top: 2rem;
}

/* #endregion */

/* #region Join */

.join {
  background: url("../img/other/join-back.jpg") center / cover no-repeat;
  box-sizing: border-box;
  padding: 13rem 0;
}
.join-content {
  max-width: 84.7rem;
  text-align: center;
  box-sizing: border-box;
  margin: 0 auto;
}
.join-chapter {
  color: #141820;
  margin-bottom: 3.2rem;
}
.join-underline {
  position: relative;
  display: inline;
}
.join-underline::after {
  content: "";
  width: 100%;
  height: 1.6rem;
  position: absolute;
  bottom: -2rem;
  left: 0;
  background: url("../img/other/join-underline.svg") center / cover no-repeat;
}
.join-item {
  color: #555555;
}
.join-form {
  margin-top: 4.5rem;
}
.input-field {
  width: 44.5rem;
  background: var(--white);
  border: 1px solid #cccccc;
  color: #555555;
  outline: none;
  box-sizing: border-box;
  padding: 2.6rem 1.3rem;
  margin-right: -2px;
}
.input-btn {
  border: none;
  outline: none;
  cursor: pointer;
}

/* #endregion */

/* #region Footer */

.footer {
  background: #222730;
  padding: 13rem 0 6rem;
}
.footer-content {
  display: flex;
  justify-content: space-between;
}
.footer-logo {
  width: 28.4rem;
}
.lorem {
  line-height: 25px;
  margin: 3.5rem 0 0 0;
}
.footer-menu {
  width: 16.8rem;
}
.footer-item {
  margin-bottom: 2.3rem;
}
.footer-social {
  width: 24rem;
}
.footer-icons {
  display: flex;
  justify-content: space-between;
}
.footer-icon {
  width: 4.8rem;
}
.under {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-align: center;
  color: #898989;
}

/* #endregion */
